@import "../../styles/_var";

.anim-header {
  opacity: 1;
  transform: translateY(0px);
}
.anim-main {
  opacity: 1;
  transform: scale(1);
}
.anim-footer {
  opacity: 1;
  transform: translateY(0px);
}
