@import "/styles/_var.scss";

.bar {
  width: 17px;
  height: calc(100% - 20px);
  // background: red;
  position: absolute;
  right: 0px;
  bottom: 0px;
  &-pos {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    // background: blue;
  }
  &__tumb {
    width: 6px;
    height: 100px;
    background: white;
    border-radius: 3px;
    position: absolute;
  }
}
.threeSide {
  width: 400px;
  height: calc(100svh - 40px);
  background: #11212c75;
  position: sticky;
  top: 20px;
  left: 0;
  transition: 0.3s;

  @include mq(sp) {
    position: fixed;
    left: 0;
    top: 0;
    /* overflow-y: scroll; */
    z-index: 1000;
    padding-bottom: 50px;
    background: rgba(17, 33, 44, 1);
    width: 100%;
    height: 100svh;
  }
  &-inner {
    width: 100%;
    //エリアの高さ(100svh-40px)からさらにタイトルバーの高さ(20px)を引いて(100svh-60px)となる
    height: calc(100svh - 60px);
    padding: 0 18px 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-opacity {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #0f151fd4 30%, transparent 100%);
    z-index: 100;
  }
  a {
    width: 100%;
    height: auto;
    background: #69739322;
    padding: 2px 2px 2px 0px;
    &:hover {
      background: #69739392;
      transition: 0.1s;
      .icon {
        background: rgb(188, 87, 175);
        transition: 0.1s;
        &-rect {
          border: 1px solid #ffffff5b;
          transition: 0.1s;
        }
      }
    }
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    // font-family: "DotGothic16", sans-serif;
    .icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: rgb(122, 137, 224);
      position: relative;
      margin-left: 10px;
      transition: 0.5s;
      &-rect {
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #ffffff37;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        z-index: 10;
      }
    }
    .text {
      width: 100%;
      max-width: calc(100% - 30px);
      display: inline-block;
      // font-family: "DotGothic16", sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      padding-bottom: 2px;
      margin-left: 10px;
    }
  }

  ul {
    margin-top: 0px;
    list-style: none;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      padding-bottom: 20px;
    }
    $border: 1px solid rgb(49, 56, 70);
    $leftPos: -6px;
    $gap: 5px;
    li {
      position: relative;
      &::after {
        content: "";
        height: calc(50% + $gap);
        border: $border;
        background: #ffffff37;
        position: absolute;
        top: 50%;
        left: 14px;
        z-index: -1;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      list-style: none;
      margin-left: 20px;
      margin-top: 5px;
      &:last-child {
        padding-bottom: unset;
      }
      li {
        position: relative;
        // &:only-child {
        //   &::after {
        //     content: "";
        //     height: calc(100% + 14px);
        //     border: $border;
        //     background: #ffffff37;
        //     position: absolute;
        //     top: -30%;
        //     left: $leftPos;
        //   }
        // }
        &:first-child {
          //最初の縦線
          &::after {
            content: "";
            height: calc(100% + 14px);
            border: $border;
            background: #ffffff37;
            position: absolute;
            top: -30%;
            left: $leftPos;
            z-index: -1;
          }
        }
        &:last-child {
          //最後の縦線
          &::after {
            content: "";
            height: 50%;
            border: $border;
            background: #ffffff37;
            position: absolute;
            top: unset;
            bottom: 50%;
            left: $leftPos;
            z-index: -1;
          }
        }
        //縦線
        &::after {
          content: "";
          height: calc(100% + 5px);
          border: $border;
          position: absolute;
          top: 0px;
          left: $leftPos;
          z-index: -1;
        }
        //横線
        &::before {
          content: "";
          width: 4px;
          border: $border;
          position: absolute;
          top: 50%;
          left: $leftPos;
          transform: translateY(-50%);
        }
        .icon {
          width: 8px;
          height: 8px;
          z-index: 10;
          &-rect {
            width: 12px;
            height: 12px;
          }
          // margin-left: 5px;
          // margin-right: 5px;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
}
