@import "/styles/_var.scss";
.spmenu {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: unset;
  box-shadow: 0 0 10px 0 #576f6e1a, inset 15px 25px 25px rgba(0, 0, 0, 0.5);
  background: rgb(64, 81, 81);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  @include mq(pc) {
    display: none;
  }
}
