@import "../../styles/_var";

.breadcrumb {
  &--wrap {
    width: 100%;
    height: 50px;
    // background: red;
    padding: 0 20px;
    @include flexCenter();
    justify-content: flex-start;
    // position: relative;
    a {
      @include font(11, 1, 0.05, 400);
      width: auto;
      padding: 3px 26px;
      // background: rgb(26, 32, 53);
      border-top-right-radius: 10000px;
      border-bottom-right-radius: 10000px;
      position: relative;
      left: -10px;
      color: #ffffffaa;
      transition: 0.3s;
      &:not(:first-child):not(:last-child) {
        margin-left: -10px;
        span {
          position: relative;
          left: 3px;
        }
      }

      &:first-child {
        // background: rgb(26, 32, 53);
        position: relative;
        left: 0px;
        margin-right: 10px;
      }
      &:last-child {
        background: rgb(92, 82, 31);
        margin-left: -10px;
        padding: 3px 20px 3px 24px;
        color: #ffffff;
      }
    }
  }
  &__bg {
    width: auto;
    // background: rgb(42, 92, 108);
    @include flexCenter();
    justify-content: flex-start;
    flex-direction: row;
  }
}

@include mq(pc) {
  .breadcrumb {
    &--wrap {
      a {
        &:hover {
          &:not(:last-child) {
            color: #ffffffee;
          }
          &:last-child {
            background: rgb(147, 132, 57);
          }
        }
      }
    }
  }
}
